nav{
    background-color: rgba(128, 128, 128, 0.500);
    margin: 0;
}
nav ul {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
 }
 
nav li {
     font-size: 16px;
     text-decoration: none;
 }

nav #title{
    margin-left: 45%;
 }

nav a {
    text-decoration: none;
 }